/**
 * SAW Admin - Avatars
 * @package SAW_Visitors
 * @version 3.0.0
 */

.sa-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--saw-radius-full);
    overflow: hidden;
    background: var(--saw-gray-200);
    flex-shrink: 0;
}

.sa-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sa-avatar--sm {
    width: 32px;
    height: 32px;
}

.sa-avatar--lg {
    width: 56px;
    height: 56px;
}

.sa-avatar--xl {
    width: 80px;
    height: 80px;
}


