/**
 * Account Types Module Styles
 * 
 * @package     SAW_Visitors
 * @subpackage  Modules/AccountTypes
 * @version     4.0.0
 * 
 * Note: This module uses global CSS components exclusively.
 * No custom styles are required.
 */

/* No custom styles required - using global design system */