/**
 * Branches Module Styles
 * 
 * @package     SAW_Visitors
 * @subpackage  Modules/Branches
 * @version     16.1.0
 * 
 * Note: This module uses global CSS components exclusively.
 * No custom styles are required.
 */

/* No custom styles required - using global design system */