/**
 * SAW Companies Module Styles
 * 
 * @package SAW_Visitors
 * @subpackage Modules/Companies
 * @since 1.0.0
 */

.saw-module-companies .saw-help-text-error {
    color: #d63638;
    margin-top: 4px;
}

.saw-module-companies .saw-help-text-success {
    color: #00a32a;
    margin-top: 4px;
}