/**
 * SAW Admin - OOPP Module Styles
 * @package SAW_Visitors
 * @version 3.0.0
 * 
 * Specifické styly pro modul OOPP
 * (Kategorie badges, scope badges, atd.)
 */

/* Placeholder - bude doplněno při migraci modulu */


