/**
 * SAW Admin - Visits Module Styles
 * @package SAW_Visitors
 * @version 3.0.0
 * 
 * Specifické styly pro modul Visits
 * (Timeline, OOPP selector, atd.)
 */

/* Placeholder - bude doplněno při migraci modulu */


