/**
 * SAW Admin - Visitors Module Styles
 * @package SAW_Visitors
 * @version 3.0.0
 * 
 * Specifické styly pro modul Visitors
 * (Certifikáty, merge UI, atd.)
 */

/* Placeholder - bude doplněno při migraci modulu */


